<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.user.username %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry %>
</p>

<% @post.comments.each do |comment| %>
        <p>
	    <%= comment.user.username %> said...<br />
	    <%= comment.comment_entry.html_safe %>
	</p>
<% end %>
<div id="comments">
    <%= render 'comments/form', comment: @comment %>
</div>

<p style="margin-top: 20px;">
<%= link_to 'Back', posts_path ,class: "btn btn-success" %>
<% if current_user.id == @post.user.id %>
  <%= link_to 'Edit', edit_post_path(@post) ,class: "btn btn-primary" %>
<% end %>
</p>
