<p id="notice"><%= notice %></p>

<h1>Posts for <%= @user.username %></h1>

    <% @user.posts.each do |post| %>

<div class="card" style="margin-bottom: 25px">
  <h5 class="card-header"><%= post.title %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= post.user ? post.user.username : "" %></h5>
    <p class="card-text"><%= post.blog_entry.html_safe %></p>

    <%= link_to 'Show', post, class:"btn btn-primary" %>
    <% if current_user.id == post.user.id %>
      <%= link_to 'Edit', edit_post_path(post), class:"btn btn-secondary" %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    <% end %>
  </div>
</div>

    <% end %>
  

<%= link_to 'New Post', new_post_path %>
